BOT_TOKEN=
DATABASE_URL="postgresql://USER:PASSWORD@HOST.neon.tech/DBNAME?sslmode=require"
CLIENT_ID=
GUILD_ID=
MUSIC_PREFIX=s!
LAVALINK_HOST=127.0.0.1
LAVALINK_PORT=2333
LAVALINK_PASSWORD=stella_lavalink_password
